@page "/Product"
@using ElgrosWeb.Client.Services;
@inject LocalStorageService localStorageService
@inject NavigationManager NavManager
@inject ProductService ProductService
@inject CategoryService CategoryService
@inject StateContainer stateContainer

<MudGrid>
    @foreach (var product in products)
    {

        <MudItem xs="12" sm="6" md="3" lg="3">
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudImage Align="@Align.Center" Src="@product.Image" Width="200" Height="150" Alt="Image" Elevation="25" Class="rounded-lg ma-4 mx-auto" />
                <MudText Align="@Align.Center" Class="mx-auto">@product.Name</MudText>
                <MudText Align="@Align.Center" Class="mx-auto">@product.Brand</MudText>
                <MudText Align="@Align.Center" Class="mx-auto">@product.Price.ToString("C")</MudText>
            </div>
        </MudItem>


    }  
</MudGrid>