@page "/Product"
@using ElgrosWeb.Client.Services;
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager NavManager
@inject ProductService ProductService
@inject CategoryService CategoryService
@inject StateContainer stateContainer

<h3>Product</h3>


<MudGrid>
    @foreach (var product in products)
    {
    <MudItem xs="4">
            <MudButton OnClick="@(() => SelectProduct(product))">
                <MudCard>
                    <!-- Product Details -->
                    <MudCardContent>
                        <MudCardMedia Height="200" Image="@product.Image" />
                        <MudText Typo="Typo.h6">@product.Name</MudText>
                        <MudText>@product.Description</MudText>
                        <MudText Typo="Typo.subtitle1">@product.Brand</MudText>
                        <MudText Typo="Typo.h6">@product.Price.ToString("C")</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => AddToBasket(product))">Tilføj til kurv</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudButton>
    </MudItem>
    }  
</MudGrid>